body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #ecf0f3;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
}

.off{
    position: absolute;
    margin-top: 4px;
    margin-left: 5px;
    font-size: 20px;
}
.on{
    position: absolute;
    margin-top: 6px;
    margin-left: 97px;
}
.text{
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.toggle {
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:
      -8px -4px 10px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6,
      4px 4px 5px 0px #d1d9e6 inset,
      -4px -4px 5px 0px #ffffff inset;
}
  
.toggle-state {
    display: none;
}
  
.button {
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.8s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6;
}
  
.toggle-state:checked ~ .button {
    transform: translate3d(25%, 0, 0);
}